*.json
*.csv
data
__pycache__
full_results
long_answer_results_everyone
backup
inference_results
synth_results*
trash
superannotate_work/prepareditems
superannotate_work/annotations
*.ps1
figures
shuffle_bias
helper_scripts